---
import Layout from "../layouts/DashboardLayout.astro";
import WarpBackground from "../react/WarpBackground.tsx";
import HomeDashboard from "../react/HomeDashboard.tsx";
---
<Layout title="Home">
  <!-- Shader Background -->
  <WarpBackground client:load style={{ background: 'linear-gradient(135deg, #65BB45, #4A9B35, #65BB45)' }} />
  
  <section class="relative z-10 py-8">
    <HomeDashboard client:load />
  </section>
</Layout>
